body{
    background-color: #2C3E50;
    margin:0;
    padding:0;
}

h1{
    color: white;
    text-align: center;
}

#foreground, #background{
    position: absolute;
    top: 50px;
    left: 10px;
}

#foreground{
    background-color: transparent;
    z-index: 1;
}

#background{
    z-index: 0;
    background-color: #ECF0F1;
}