body{
    background-color: #2C3E50;
    margin:0;
    padding:0;
}

#foreground, #background{
    position: absolute;
    top: 0;
    left: 0;
}

#foreground{
    background-color: transparent;
    z-index: 1;
}

#background{
    z-index: 0;
    background-color: #ECF0F1;
}