body{
    background-color: #2C3E50;
}

#foreground, #background{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ECF0F1;
}

#foreground{
    z-index: 1;
}

#background{
    z-index: 0;
}